# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.log

# Android
**/local.properties
**/android/local.properties
**/.gradle/
**/android/.gradle/
**/android/app/*.keystore

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# Windows
windows/flutter/ephemeral/
windows/.flutter-plugins
windows/.flutter-plugins-dependencies

# macOS
macos/Flutter/ephemeral/

# Misc
.DS_Store
*.log
*.tmp
